@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css');

/* @tailwind base;
@tailwind components;
@tailwind utilities; */



 
.card {
    border-radius: 20px;
  }

  .card-body {
    text-align: center;
  }

  .pay-btn {
    background-color: #374cfa;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }

  .pay-btn:hover {
    background-color: #1a34f1;
  }

  .note {
    margin-top: 10px;
    font-size: 12px;
    color: #6c757d;
  }